div{
    height: auto;
    width: auto;
    background-color: beige;
    
    img {
        height: 40px;
        width: 40px;
    }

    

    .choices {
        position: relative;
        padding-left: 40px;
        align-items: center;
        
        .option{
            
        }

        
    }
    
    
   
    
}