.app{
    position: relative;
    height: 100%;
    width: 100%;
    top: 75px;
    justify-content: center;
    background-color: navajowhite;

    .Topbanner {
        height: 20%;
        width: 100%;
        img {
            width: auto;
            height: 650px;
            object-fit: scale-down;
        }
    
    }

    .searchbar{
        display: flex;
        align-items: space-between;
        justify-content: center;
        position: flex;
        padding: 20px 15px;
        background-color: rgb(53, 53, 53);
        text-decoration-color: white;
        align-items: center;
        border: dotted 15px gradiant ;
    
        .button{
            position: relative;
            padding: 10px 30px;
            background-color: darkorange;
            &:hover{
                color: black;
                cursor: pointer;
                background-color: rgb(245, 156, 156);
            }
        }

        .searchsentence{
           color: white;
           padding: 0px 5px;
           font-size: 15px;
        }
    }

    .makeprofile{
        display: flex;
        padding: 40px 40px;
        position: relative;
        height: 20%;
        width: 100%;

        .products{
            margin-left: 100px;
            display: flex;
            gap: 50px;
            
        }
        
    
    }

    .download{
        height: 10%;
        width: 100%;
        background-color: lightblue;
        text-align: center;
    

    }
    .family{

    }
    .new_products{

    }
} 