.app{
    position: relative;
    height: 100%;
    width: 100%;
    top: 75px;
    justify-content: center;
    background-color: navajowhite;

    .Topbanner {
        height: 20%;
        width: 100%;
        position: flex;
    
    }

    .searchbar{
        display: flex;
        align-items: space-between;
        justify-content: center;
        position: flex;
        padding: 20px 40px;
        background-color: lightsalmon;
        border-radius: 310px;
    

        .searchsentence{
           color: black;
           padding: 0px 10px;
           font-size: 20px;
        }
    }
} 